@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  cursor: url("cursor.cur"), auto !important;
}

html {
  scroll-behavior: smooth;
  background: hsl(207, 19%, 11%);
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 2;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.navbar {
  min-height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  margin: 0 5vw;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75rem;
}

.navbar-branding {
  color: white;
  transform: scale(1.1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: white;
  width: 75px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandstyle {
  color: rgb(240, 49, 43);
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 700;
}

.nav-link:hover {
  color: #5468ff;
  text-shadow: 0 3px 25px #5468ff;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 1.563rem;
  height: 0.188rem;
  margin: 0.313rem auto;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease-in-out;
  color: white;
}

.mode__con {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
}

.right-hero {
  width: auto;
  display: grid;
  place-items: center;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.color-1 {
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(28, 224, 70, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(255, 0, 0, 0.25) 0,
      rgba(0, 85, 119, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
}

.color-2 {
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(153, 0, 255, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
}

.color-3 {
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(21, 255, 0, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 12px 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
}

.color-4 {
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(251, 255, 0, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
}

.color-5 {
  background-color: black !important;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      rgba(0, 217, 255, 0.25) 0,
      rgba(250, 247, 254, 0) 100%
    );
  box-shadow: 0 12px 40px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(0, 0%, 100%);
}
.right-hero img {
  width: 62%;
  margin-top: 50px;
  margin-left: 85px;
}

.right-hero img:hover {
  transition: 0.9s ease;
  box-shadow: 0 2px 4px 0 hsl(0, 0%, 100%), 0 3px 10px 0 hsl(57, 97%, 45%);
}

.banner-button {
  display: inline-table;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.51);
  padding-bottom: 0.5rem;
}

.banner-button:hover {
  color: #111;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.left-hero {
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
}

.txt {
  font-size: 3.5rem;
  font-family: "Carter One", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.txt__upper {
  font-size: 25px;
  font-weight: 800;
  color: hsl(57, 97%, 45%);
}

.txt__under {
  font-weight: 700;
  color: rgb(83, 81, 81);
  font-size: 1.3rem;
}

.desc {
  padding: 0.5rem;
  color: rgb(119, 119, 119);
  padding-top: 20px;
  padding-bottom: 10px;
}

.btn {
  display: flex;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 900;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #f5c518;
  padding: 12px;
  color: #ffffff;
  margin-top: 0.5rem;
  box-shadow: 2px 2px 0px #f5c518;
}

.btn:hover {
  /*transform: scale(1.1);*/
  color: rgb(0, 0, 0);
  background-color: #f5c518;
  font-weight: 900;
  box-shadow: unset;
  border: unset;
}

.txt::first-letter {
  font-size: 3.7rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(207, 19%, 11%);
}
.footer h5 {
  color: white;
  text-shadow: 0 0 10px #3c6e71;
}

@media only screen and (max-width: 769px) {
  .hamburger {
    display: flex;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: -100vh;
    gap: 0;
    flex-direction: column;
    background-color: #222;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    top: 3.813rem;
    padding-left: 0;
  }
}
@media only screen and (max-width: 415px) {
  iframe {
    width: 387px;
    height: 240px;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-hero {
    padding: 0 5px 0 15px;
    grid-row: 2;
  }
  .right-hero {
    grid-row: 1;
    margin-top: 50px;
  }
  .soclinks {
    padding-bottom: 50px;
  }
  .txt__upper {
    margin-top: 10px;
  }
}

.nav-icon-6 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  display: inline-block;
}
.nav-icon-6 span {
  background-color: white;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}
.nav-icon-6 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-6 span:nth-child(2) {
  top: 13px;
  left: 0px;
}
.nav-icon-6 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-6:not(.open):hover span:nth-child(1) {
  transform: scaleY(1.2);
  left: -5px;
}
.nav-icon-6:not(.open):hover span:nth-child(2) {
  transform: rotate(5deg) scaleY(1.1);
}
.nav-icon-6:not(.open):hover span:nth-child(3) {
  transform: scaleY(1.2);
  left: 5px;
}
.nav-icon-6.open span:nth-child(1) {
  transform: rotate(45deg) scaleX(0.7);
  top: 13px;
  left: -8px;
}
.nav-icon-6.open span:nth-child(2) {
  transform: scale(0);
  transition-duration: 50ms;
}
.nav-icon-6.open span:nth-child(3) {
  transform: rotate(-45deg) scaleX(0.7);
  top: 13px;
  left: 7px;
}
